<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <h1><%=msg%></h1>
    <% if (flag) {%> <%=allblogs%> <%}%>
  </body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <% if (flag){ %>
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col text-center">
            <p class="blog-header-logo text-dark" ><%=msg%></p>
          </div>
        </div>
      </header>
    </br></br>

      <form class="" method="POST" action="/profile">
        <label for="blogs" class="sr-only">Blog</label>
        <textarea
        type="text"
        id="blog"
        name="blog"
        class="form-control"
        placeholder="Write a new blog"
        required
        autofocus></textarea>
        </br>
        <div class="row">
          <div class="col">
            <label for="name" class="sr-only">Name</label>
            <input
            readonly
            type="text"
            id="name"
            name="name"
            value="<%=user%>"
            class="form-control"
            required
            autofocus/>
          </div>
          <div class="col">
              <label for="name" class="sr-only">Email</label>
              <input
              readonly
              type="text"
              id="email"
              name="email"
              value="<%=email%>"
              class="form-control"
              required
              autofocus/>
          </div>
          <div class="col">
              <button class="btn btn-success btn-block" type="submit">
                  Post
              </button>
          </div>
        </div>
      </form>
    </br></br>

    <% for (var i = allblogs.length-1 ; i>=0; i--){%>
      <div class="blog-post">
        <p class="blog-post-meta">Posted by: <%=allblogs[i].name%> , <%=allblogs[i].email%></p>
        <p class="blog-post-meta"><%=allblogs[i].createdAt%></p>
        <p>
            <%=allblogs[i].blog%>
        </p>
      </div>
    <%}%>
      <% } else{ %>
      </br>
      <div class="jumbotron">
        <h1 class="display-6"><%=msg%></h1>
        <hr class="my-4" />
        <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
      </div>
      <%}%>
    </div>
    <footer class="blog-footer">
      <p>
        Blog App Made with love
      </p>
      <p>
        <a href="/">Back to Homepage</a>
      </p>
    </footer>
  </body>
</html>
